<header class="main-header">
  <nav class="main-header__nav">
      <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="" href="/diseases">Home</a>
            </li>
            <li class="main-header__item">
              <a class="" href="/lobby">Lobby</a>
            </li>
            <li class="main-header__item">
              <a class="" href="/reception">Recption</a>
            </li>
      </ul>
  </nav>
</header>


