
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-5 m-auto">
    <% let len = patients.length %>
      <% if(len > 0) { %>
        <!-- start_idx to modify the patient' queue appropriately in doctor's room OR in Reception -->
        <% for(let i = start_idx; i < len; i++) { %>
          <div class="col-auto">
            <div class="card h-100" style="width: 13rem;">
              <img src="https://thumbs.dreamstime.com/b/high-quality-dark-blue-healthcare-person-icon-high-quality-dark-blue-healthcare-person-icon-pictogram-icon-set-illustration-useful-192532981.jpg" class="card-img-top" alt="..." width="100" height="200">
              <div class="card-body">
                <p class="card-text"><%= patients[i].name %></p>
              <% if (edit) { %>
                <a href="/patient/<%= patients[i]._id %>" class="btn btn-primary">Edit</a>
              <% } %> 
              </div>
            </div>
          </div>
        <% } %>  
      <% } %>  
    <% for(let i = max_slot + start_idx; i > len; i--) { %>
      <div class="col-auto">
        <div class="card" style="width: 13rem;">
          <img src="https://www.vhv.rs/dpng/d/526-5266879_blank-person-icon-hd-png-download.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Empty</p>
          </div>
        </div>
      </div>
    <% } %>  
    </div>
</div>